body.loaded {
    opacity: 1;
}
.cke_notifications_area{
    z-index: -1 !important;
    top: 0 !important;
    display: none !important;
}
.slide.modal-dialog.modal-dialog-centered{
    max-width: 1200px;
}
.bg-black-whi{
    background-color: #10131C;
}
.btn-green-whi{
    background: #CBFF4D;
}
body.authentication-bg{
    background-color: #10131C !important;
}