/* Estilização do pop-up */
.popup {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.close-btn{
    cursor: pointer;
}
/* Conteúdo do pop-up */
.popup-content {
    max-width: 476px;
    position: relative;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
}
/* Imagem dentro do pop-up */
.popup-content img {
    width: 100%;
}
html, body {
  overflow-x: hidden;
}
*, *::before, *::after {
  box-sizing: border-box;
}
.swiper-button-next, .swiper-button-prev{
    color: var(--text-color-blog-inner);
    width: 30px;
}
.menu-mobile-down{
    display: none;
}
.carrossel-mobile{
    height: 35px;
}
.menu-mobile-down{
    background-color: #00000066;
    z-index: 12;
    height: 35px;
}
.nav-mob-center{
    left: 50%;
    top: -25px;
    transform: translate(-50%, 0px);
    background: var(--background-blue);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.comment-scroll{
    height: 100%;
    max-height: 460px;
    overflow-y: scroll;
}
.comment-text{
    color: var(--text-color);
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
}
.hidden div span span[aria-current="page"] span {
    background: #2F368B !important;
    margin: 0 5px !important;
    padding: 5.8px 9px 5.8px 9px !important;
    font-family: "Ubuntu", sans-serif;
    font-size: 0.87rem !important;
    color: #FFF !important;
}
.hidden div {
    position: relative !important;
    display: flex !important;
    flex-direction: row !important;
    width: 100% !important;
    margin-top: 0px !important;
    align-items: center !important;
    justify-content: end !important;
}
.hidden div a {
    background: #f4f4f4 !important;
    margin: 0 5px !important;
    padding: 5px 5px 5px 8px !important;
    font-family: "Ubuntu", sans-serif;
    font-size: 0.87rem !important;
    color: #262626 !important;
}
.hidden div p{
    display: none;
}
.relative.inline-flex.items-center.px-2.py-2,
.flex.justify-between.flex-1{
    display: none;
}
aside .img-fluid.annun{
    width: 355px !important;
    max-width: 433px !important;
    border-radius: 10px;
    object-fit: contain;
    aspect-ratio: inherit;
}

.text-color.montserrat-regular.font-16 p{
    font-size: 1rem;
    color: #9A9DA2;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
}
.text-color.montserrat-regular.font-16 p img{
    margin-right: 15px;
}
.search input{
    font-size: 14px !important;
    background: #FFF !important;
}
.menu-mobile {
    left: 0;
    right: 0;
    width: 100vw;
    max-width: 100vw;
}
.menu-mobile {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background-blue);
    z-index: 10 !important;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    transition: opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
}

.menu-mobile.active {
    display: flex;
    opacity: 1;
    pointer-events: auto;
}

.menu-mobile nav ul li {
    margin: 1rem 0;
}

.menu-mobile nav ul li a {
    font-size: 1.5rem;
    color: #2F4C78;
    text-decoration: none;
}
.overlay a:hover{
    text-decoration: underline;
}
.underline:hover{
    text-decoration: underline;
    color: var(--color-blue);
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 30px;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #1e2024);
    z-index: 1;
}
.swiper-pagination.news{
    top: 30px !important;
    left: inherit !important;
    right: 20px !important;
    width: auto !important;
    height: 30px !important; 
}
.swiper-pagination.news .swiper-pagination-bullet{
    width: 20px;
    height: 20px;
    border-radius: 5px !important;
    transition: all 0.3s ease; 
    background: #FFFFFF !important;
    opacity: inherit !important;
}
.swiper-pagination.news .swiper-pagination-bullet-active{
    width: 40px !important;
    border-radius: 5px !important;
    background: #E5282A !important;
}
.under{
    color: #E5282A;
}
body .uwy.userway_p1 .userway_buttons_wrapper  {
    top: 40% !important;
    right: -34px !important;
    left: inherit !important
}
.site-navigation.ul li a {
  position: relative;
}

.site-navigation.ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 3px; 
  background-color: var(--background-red);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}
.site-navigation.ul li a.active::after{
    width: 100%;
    background-color: var(--background-red);
}
.site-navigation ul li a:hover::after,
.site-navigation ul li a.active::after {
  transform: scaleX(1);
}

.project-list-item img, .rating span img  {
    aspect-ratio: 1/1;
    object-position: center
}
.image-hero, .img-fluid, .project-list-item img, .rating span img  {
    object-position: center
}
.swal2-html-container, .montserrat-ExtraBold, .montserrat-bold, .montserrat-medium, .montserrat-regular, .montserrat-semiBold  {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal
}
.lh-0 {
  line-height: 0;
}
.image-profile{
    width: 40px;
    height: 40px;
}
.image-profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.dropify-wrapper .dropify-message p{
    font-size: 15px !important;
}
.bg-box-contact{
    background: #F1F0F0;
}
.btn-close-menu{
    font-size: 35px !important;
}
.font-10 {
    font-size: 0.625rem;
}
.font-12 {
    font-size: 0.75rem;
}
.font-14 {
    font-size: 0.875rem;
}

.font-15 {
    font-size: 0.938rem;
}

.font-16 {
    font-size: 1rem;
}

.font-18 {
    font-size: 1.125rem;
}

.font-20 {
    font-size: 1.25rem;
}

.font-24 {
    font-size: 1.5rem;
}

.font-25 {
    font-size: 1.563rem;
}
.font-28 {
    font-size: 1.75rem;
}

.font-30 {
    font-size: 1.875rem;
}
.font-32 {
    font-size: 2rem;
}

.font-40 {
    font-size: 2.5rem;
    line-height: 60px;
}
.header--category ul li a{
    transition: all 0.3s ease;
}
.header--category ul li a:hover{
    color: var(--background-red);
    transition: all 0.3s ease;
}
.header--category ul li a.active{
    color: var(--background-red);
}
.sitemap ul li a, a  {
    text-decoration: none
}
.swiper-wrapper  {
    overflow: visible !important
}
.swiper-slide  {
    min-width: 0;
    flex-shrink: 0;
    height: auto !important
}
.stack-details-slider .swiper-button-next, .stack-details-slider .swiper-button-prev  {
    display: none;
    color: transparent;
    -webkit-text-stroke: 2px black
}
.scroll-top  {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: -15px;
    z-index: 99999;
    background-color: var(--background-red);
    width: 44px;
    height: 44px;
    border-radius: 50px;
    transition: .4s
}
.scroll-top i  {
    font-size: 24px;
    color: var(--contrast-color);
    line-height: 0
}

.project-list-item  {
    width: 264.2px
}
.scroll-top:hover  {
    background-color: color-mix(in srgb, var(--background-red), transparent 20%);
    color: var(--contrast-color)
}
.scroll-top.active  {
    visibility: visible;
    opacity: 1;
    bottom: 15px
}
.project-list-item .montserrat-semiBold  {
    font-size: .875rem
}
.project-list-item ul .montserrat-semiBold span  {
    font-size: .5rem
}
.light-background, :root  {
    --surface-color: #ffffff
}
.dark-background, :root  {
    --contrast-color: #ffffff
}
body  {
    overflow-x: hidden;
    font-family: var(--default-font)
    var(--background-color)
}
.d-flex.align-items-center.bg-white.mb-3.overflow-hidden{
    border-radius: 8px 0 0 8px;
}
aside .img-fluid{
    max-width: 110px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}
p{
    color: var(--text-color);
}
.header, body  {
    color: var(--default-color);
    background-color: var(--background-color)
}
.footer, .header, body  {
    background-color: var(--default-color)
}
#preloader, .testimonials .testimonials-carousel, .testimonials .testimonials-slider  {
    overflow: hidden
}
:root  {
    --default-font: "Montserrat", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Montserrat", sans-serif;
    --nav-font: "Montserrat", sans-serif;
    --background-color: #F9F9F9;
    --background-red: #E5282A;
    --background-blue: #2F368B;
    --default-color: #F9F9F9;
    --text-color: #9A9DA2;
    --text-color-blog-inner: #727272;
    --title-color-blue: #31404B;
    --cta-background-color: #091DFF;
    --nav-hover-color: #ffffff;
    --background-color-white: #ffffff;
    --background-color-grey: #F8F9FC;
    --background-color-dark: #101820;
    --background-color-grey-medium: #D9D9D9;
    --background-color-client: #F1F0F0;
    --background-color-trust-whi: #F4F4F4;
    --color-white: #ffffff;
    --color-blue: #1D164E;
    --emphasis-color: #1FAD90;
    scroll-behavior: smooth
}
.text-blog-inner{
    color: var(--text-color-blog-inner);
}
.text-blog-inner.montserrat-regular.font-16 p{
    color: var(--text-color-blog-inner);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
}
.text-blog-inner.montserrat-regular.font-16 p img{
    height: 100% !important;
    max-width: 370px;
    width: 100% !important;
    max-height: 435px;
    margin: 0 15px;
}
.bg-webmail{
    background: var(--background-color-client);
    width: 170px;
    height: 39px;
}
.title-blue{
    color: var(--title-color-blue);
}
.text-color{
    color: var(--text-color);
}
.rounded-top-left{
    border-radius: 10px 0 0 0;
}
#stars-container img  {
    width: 100%;
    height: auto;
    aspect-ratio: 15 / 15;
    object-fit: cover;
    display: block;
}
.background-red{
    background-color: var(--background-red) !important;
}
.d-flex.flex-wrap.m-n1 a:hover{
    background-color: var(--background-red) !important;
    border-color: transparent;
}
.d-flex.flex-wrap.m-n1 .active{
    border-color: transparent;
}
.montserrat-regular  {
    font-weight: 400
}
.montserrat-medium  {
    font-weight: 500
}
.montserrat-semiBold  {
    font-weight: 600
}
.montserrat-bold  {
    font-weight: 700
}
.montserrat-ExtraBold  {
    font-weight: 800
}
.light-background  {
    background-color: var(--background-color-white)
}
.trust-whi-background  {
    background-color: var(--background-color-trust-whi)
}
.blue-background  {
    background-color: var(--color-blue)
}
.grey-background  {
    background-color: var(--background-color-grey)
}
.grey-medium-background  {
    background-color: var(--background-color-grey-medium)
}
.dark-background-medium  {
    background-color: var(--background-color-dark)
}
.call-to-action:hover, .green-background  {
    background-color: var(--emphasis-color)
}
.dark-background  {
    background-color: var(--background-blue);
    color: var(--default-color)
}
.max-width  {
    max-width: 1200px
}
.max-width-project  {
    max-width: 1360px
}
.emphasis  {
    color: var(--emphasis-color);
    text-shadow: 0 0 1px rgba(0, 0, 0, .2)
}
a  {
    color: var(--accent-color);
    transition: .3s
}

.carousel-trust-whi .swiper-slide .text, .content-lef h2, .social-links a i, .text-left-project  {
    color: var(--social-links-color)
}
h1, h2, h3, h4, h5, h6  {
    color: var(--heading-color);
    font-family: var(--heading-font)
}
.d-flex.justify-content-end.flex-column.w-auto  {
    height: auto;
    gap: 10px
}

.social-links.superior  {
    margin-top: 0
}
.redes-sociais ul li img{
    width: 25px;
    height: 25px;
}
.carousel-trust-whi .swiper-slide-active {
    transform: scale(1.1) !important;
    transition: transform .3s ease-in-out
}
.col-md-6.h-100.px-0 img,
.d-flex.align-items-center.bg-white.mb-3 img,
.main-swiper img,
.box-small img{
    transition: all 0.3s ease;
}
.col-md-6.h-100.px-0:hover img,
.d-flex.align-items-center.bg-white.mb-3:hover img,
.main-swiper:hover img,
.box-small:hover img{
    transform: scale(1.05);
    transition: all 0.3s ease;
}
.box-notices{
    transition: all 0.3s ease;  
}
.box-notices:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
}
.announcement .image {
    max-width: 1137px;
    max-height: 205px;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.announcement .image img {
    height: auto;
    object-fit: cover;
    display: block;
}
.bg-light {
    background: #F1F0F0 !important;
}
.padding-t-80{
    padding-top: 80px;
}
.text-address p{
    color: var(--text-color);
    font-size: 0.938rem;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 300;
}
.login{
    width: 40px;
    height: 40px;
}
.relative.z-0.inline-flex.shadow-sm.rounded-md{
    box-shadow: inherit !important;
}
.btn-reset,
.btn-close-menu {
    all: unset;
    cursor: pointer;
}
.comments img{
    width: 45px;
    height: 45px;
}
#shareBtn{
    width: 171px;
}
.socialLinks {
    max-height: 0;
    transition: max-height 0.4s ease, opacity 0.4s ease;
}
.btn-insta {
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  transition: all 0.3s ease;
}
.btn-tiktok {
  background: #000000;
  transition: all 0.3s ease;
}
.bg-whatsapp, .bg-whatsapp.btn:hover{
    background: #25d366;
    transition: all 0.3s ease;
}
.btn-twiter, .btn-tiktok.btn:hover {
  background: #000000;
  transition: all 0.3s ease;
}
.btn-twiter, .btn-twiter.btn:hover {
  background: #1DA1F2;
  transition: all 0.3s ease;
}
.btn-youtube, .btn-youtube.btn:hover {
  background: #ff0000;
  transition: all 0.3s ease;
}
.btn-facebook, .btn-facebook.btn:hover {
  background: #3b5998;
  transition: all 0.3s ease;
}
.bg-whatsapp.btn:hover, 
.btn-facebook.btn:hover,
.btn-youtube.btn:hover,
.btn-twiter.btn:hover,
.btn-tiktok.btn:hover,
.btn-insta.btn:hover,
.bg-whatsapp.btn:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
}
.firula-contact{
    width: 111px;
    height: 12px;
    background: var(--background-blue);
    border-radius: 0 15px 15px 0;
}
.socials-network{
    height: 260px;
}
.logo-img .img-fluid  {
    width: 180px;
    height: auto;
    object-fit: cover;
    display: block;
}
.section-title {
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--background-color-white);
    border: 1px solid #dee2e6;
    border-left: 5px solid var(--background-blue);
}
.hero  {
    width: 100%;
    height: 100%;
    justify-content: center
}
.hero h1  {
    font-size: 3.125rem;
    width: 45%
}
.hero p  {
    margin: 5px 0 0;
    font-size: 26px
}
.hero h1 b{
    color: var(--emphasis-color);
}
.hero .description  {
    margin-top: 40px
}
.image-hero  {
    width: 100%;
    height: auto;
    aspect-ratio: 1200 / 780;
    object-fit: cover;
    display: block;
}
.section  {
    overflow: clip
}
.position  {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}
.header-color{
    background: var(--background-blue);
    border-bottom: 5px solid var(--background-red);
}
.call-to-action  {
    background-color: var(--cta-background-color);
    height: 59px;
    width: 283px;
    border-radius: 30px;
    transition: background-color .3s ease-in-out, transform .2s ease-in-out
}
.call-to-action:hover  {
    transform: scale(1.03);
    color: var(--social-links-color) !important
}
.call-to-action:hover i  {
    transform: rotate(10deg) scale(1.2);
    color: var(--color-white)
}
.carousel-project img  {
    width: 100%;
    height: auto;
    aspect-ratio: 48 / 28;
    object-fit: contain;
    display: block;
    transition: transform .4s ease-in-out
}
.carousel-project .swiper-slide  {
    padding: 10px 0
}
.carousel-project .swiper-slide:hover img  {
    transition: transform .4s ease-in-out;
    transform: scale(1.09)
}
.project  {
    border-radius: 50px 50px 0 0;
    overflow: hidden;
    margin-top: -50px;
    z-index: 3;
    position: relative
}
.content-lef h2  {
    font-size: 3.313rem;
    line-height: 71px
}
.content-right p  {
    color: var(--text-color);
    font-size: 1.25rem
}
.project-list ul li  {
    font-size: .875rem;
    line-height: 27px
}
.project-list-item  {
    border-radius: 50px;
    transition: transform .4s ease-in-out;
    height: auto;
    overflow: visible
}
.project-list-item h3, .rating span  {
    font-size: 1.5rem
}
.project-list-item p  {
    font-size: .938rem;
    line-height: 27px
}
.project-list-item img  {
    width: 100%;
    max-width: 60px;
    object-fit: contain
}
.firula-project  {
    position: absolute;
    bottom: 0;
    transform: rotate(-10deg);
    background: #d9d9d9;
    height: 5px;
    width: 100%
}
.laptop-parallax  {
    height: auto;
    aspect-ratio: 400 / 375;
    object-fit: cover;
    display: block;
    transform: translateY(0);
    transition: transform .1s ease-out
}
.project-list-carousel  {
    width: 90%
}
.swiper-container-wrapper  {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    padding: 20px 0
}
.sitemap ul li a:hover::after, .swiper  {
    width: 100%
}
.swiper-slide  {
    display: flex;
    justify-content: center;
    align-items: center
}
.swiper-slide img  {
    width: 100px;
    height: auto
}
.portfolio-bottom .swiper-slide img, .portfolio-top .swiper-slide img  {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 300/ 300;
    border-radius: 35px;
    overflow: hidden
}
.portfolio-bottom-details-slider  {
    direction: rtl !important
}
.carousel-top-width  {
    width: calc(100% - 386px)
}
.rating  {
    width: 386px
}
.rating .clients  {
    align-items: center;
    gap: 0
}
.client-img img  {
    height: auto;
    aspect-ratio: 64 / 20;
    object-fit: cover;
    display: block;
}
.rating span img  {
    max-width: 30px;
    object-fit: contain
}
.rating .clients .client-img:hover  {
    transform: scale(1.1);
    z-index: 10;
    transition: transform .6s ease-in-out
}
.count-star p  {
    font-size: 1rem
}
.faq .title, .perfect-choice h2 span, .proccess-top__title h2, .transformed h2, .trust-whi h2 span  {
    font-size: 4.5rem;
    color: transparent;
    -webkit-text-stroke: 2px black
}
.faq h3, .proccess-top__title h3, .transformed h3  {
    font-size: 3.438rem
}
.faq .ex.title  {
    -webkit-text-stroke: 2px white
}
.proccess-top p  {
    font-size: 1.25rem;
    color: var(--social-links-color)
}
.proccess-list-item  {
    border-radius: 24px;
    height: 330px;
    transition: transform .4s ease-in-out
}
.perfect-choice-list-item:hover, .proccess-list-item:hover, .project-list-item:hover  {
    transform: scale(1.03);
    transition: transform .4s ease-in-out
}
.proccess-list-item h2, .trust-whi h2 span  {
    font-size: 3.75rem
}
.proccess-list-item h3  {
    font-size: 2rem;
    color: var(--text-color)
}
.text  {
    font-size: 1rem !important
}
.transformed  {
    border-radius: 50px 50px 0 0;
    height: 825px
}
.transformed img  {
    width: 100%;
    max-width: 870px;
    height: 100%;
    max-height: 547px;
    object-fit: cover;
    aspect-ratio: 870 / 547;
    right: 0
}
.transformed-padding  {
    padding-top: 77px
}
.transformed .call-to-action:hover  {
    border: 3px solid #fff
}
.robot-lamp  {
    max-width: 222px;
    height: auto;
    aspect-ratio: 222 / 380;
    object-fit: cover;
}
.perfect-choice h2  {
    color: var(--color-blue);
    line-height: 55px
}
.perfect-choice h2 span  {
    columns: var(--social-links-color);
    font-size: 3.438rem
}
.perfect-choice-list-item h3  {
    color: var(--color-blue);
    font-size: 1.25rem
}
.perfect-choice-list-item  {
    max-width: 309.8px;
    height: 300px;
    transition: transform .4s ease-in-out;
    box-shadow: 0 3px 2px 0 rgba(0, 0, 0, .25)
}
.perfect-choice .content-right .text  {
    font-size: 1.25rem !important
}
.trust-whi h2  {
    font-size: 3.125rem;
    line-height: 55px;
    color: var(--social-links-color)
}
.trust-whi .hand  {
    left: -10px;
    animation: 1.5s ease-in-out infinite hand-move
}
@keyframes hand-move  {
    0%, 100%  {
        transform: rotate(0) translateX(0)
    }
    50%  {
        transform: rotate(0) translateX(10px)
    }
}
.trust-whi-list-item  {
    box-shadow: -3px 4px 6px 0 rgba(0, 0, 0, .25);
    max-width: 430px;
    height: auto
}
.swiper-slide .apas-left, .swiper-slide .apas-right  {
    max-width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 23px;
}
.swiper-slide .apas-right  {
    margin: 0 0 0 auto;
    display: block
}
.btn-navigation  {
    position: relative;
    width: 110px;
    margin: 50px 0 0 auto
}
.btn-navigation .swiper-button-next, .btn-navigation .swiper-button-prev  {
    color: transparent;
    -webkit-text-stroke: 2px black
}
.trust-whi-list-item h3  {
    color: var(--color-blue) !important;
    font-size: .875rem
}
.trust-whi-list-item h6  {
    font-size: .75rem
}
.project-list-details-slider, .trust-whi-details-slider  {
    padding: 50px 0
}
.carousel-trust-whi .swiper-slide  {
    transition: transform .3s ease-in-out;
    transform: scale(.9)
}
.faq  {
    padding: 80px 0;
    border-radius: 50px 50px 0 0
}
.faq h2, .faq h3  {
    margin-left: 80px
}
.accordion-button:not(.collapsed)  {
    color: var(--text-color);
    background-color: var(--background-color-grey-medium);
    border-color: var(--background-color-grey-medium);
    border-radius: 1rem
}
.accordion-item:first-of-type>.accordion-header .accordion-button, .accordion-item:last-of-type>.accordion-header .accordion-button.collapsed, [type=button]:not(:disabled), button:focus:not(:focus-visible), button:not(:disabled)  {
    border-radius: 1rem
}
.accordion-button:focus  {
    box-shadow: var(--background-color-grey-medium)
}
.accordion-button::after  {
    display: none
}
.accordion-button.montserrat-semiBold.collapsed::before, .accordion-button.montserrat-semiBold::before  {
    margin-right: 15px;
    color: #1fad90;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 33px;
    line-height: 0
}
.accordion-button.montserrat-semiBold.collapsed::before  {
    content: '+'
}
.accordion-button.montserrat-semiBold::before  {
    content: '-'
}
.accordion-item h2  {
    color: var(--text-color)
}
@keyframes float  {
    0%, 100%  {
        transform: translateY(0)
    }
    50%  {
        transform: translateY(-10px)
    }
}
.hand-faq  {
    max-width: 100%;
    height: auto;
    aspect-ratio: 387 / 184;
    animation: 1.5s ease-in-out infinite float
}
.copyright p, .copyright span, .sitemap ul li  {
    font-size: 1rem;
    line-height: 24px;
    margin: 0
}
.sitemap ul li a  {
    position: relative;
    color: inherit
}
.sitemap ul li a::after  {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    transition: width .3s ease-in-out
}
@media (max-width:1380px)  {
    .max-width-project  {
        padding-left: 50px
    }
}
@media (max-width:1281px)  {
    .transformed  {
        height: auto
    }
    .transformed img  {
        position: relative !important;
        bottom: inherit !important;
        right: inherit;
        margin: 0 0 0 auto
    }
}
@media (max-width:1261px)  {
    .light-background .content-project  {
        max-width: 100%;
        padding: 0 50px
    }
    .transformed-padding  {
        padding: 77px 50px
    }
}
@media (max-width:981px)  {
    .max-width  {
        max-width: inherit;
        width: 95%
    }
    .col-2.aos-init.aos-animate  {
        width: 25%
    }
    .col-lg-9.aos-init.aos-animate  {
        width: 75%
    }
}
@media (max-width: 991.98px) {
    .social-links.d-flex.justify-content-between.align-items-center.gap-4.text-center.col-9{
        justify-content: flex-end !important;
    }
    .none {
        display: none !important;
    }
}
@media (max-width:885px)  {
    .hero  {
        height: 100%;
    }
    .image-hero  {
        aspect-ratio: 195 / 293;
        object-position: top center;
    }
    .perfect-choice .max-width  {
        flex-direction: column !important;
        gap: 30px
    }
    .perfect-choice .content-right, .perfect-choice .text-md-end  {
        width: 100% !important
    }
    .perfect-choice .content-lef h2  {
        text-align: left
    }
    .robot-lamp  {
        margin-left: 0 !important
    }
    .position-relative.d-flex.justify-content-center.flex-column.align-items-center  {
        align-items: start !important
    }
    .project .max-width  {
        max-width: 1200px
    }
    .hero h1, .transformed .col-12.col-md-8.text-center  {
        width: 100%
    }
    .call-to-action  {
        margin-top: 15px !important
    }
    .social-links  {
        margin-top: 0;
        justify-content: left !important
    }
    .hero .description, .max-width.m-auto.d-flex.flex-column.flex-md-row.justify-content-end.align-items-center.text-center.text-md-start.py-5.aos-init.aos-animate, .proccess-top .d-flex.flex-column.flex-md-row, .row.row-cols-1.row-cols-sm-2.row-cols-md-3.row-cols-lg-4.row-cols-xl-4.g-3.mt-5  {
        padding: 0 50px
    }
    .rating span  {
        font-size: 1.25rem
    }
    .rating span img  {
        max-width: 20px
    }
    .rating .col-7.width-md.m-auto  {
        gap: 0 !important
    }
    .rating .clients  {
        margin-top: 3px !important
    }
    .client-img  {
        max-width: 120px
    }
    #portfolio  {
        gap: 15px !important
    }
    .proccess-top a  {
        padding-left: 15px !important
    }
    .perfect-choice-list-item  {
        height: auto
    }
    .content-lef h2  {
        font-size: 3.125rem
    }
    .row.row-cols-1.row-cols-sm-2.g-4.px-4  {
        align-items: baseline
    }
    .carousel-trust-whi .swiper-slide .text  {
        font-size: .938rem !important
    }
    .hand  {
        top: -35px !important;
        width: 170px;
        left: -20px !important
    }
    @keyframes hand-move  {
        0%, 100%  {
            transform: rotate(28deg) translateY(0)
        }
        50%  {
            transform: rotate(28deg) translateY(-10px)
        }
    }
    .call-to-action:hover, .carousel-project .swiper-slide:hover img, .perfect-choice-list-item:hover, .proccess-list-item:hover, .project-list-item:hover  {
        transform: inherit
    }
}
@media (max-width:769px)  {
    .announcement{
        width: 95% !important;
    }
    .announcement .swiper-slide {
        padding: 30px 0 !important;
    }
    .announcement .image{
        max-width: inherit;
        height: 200px;
    }
    .announcement .image img{
        height: 100%;
    }
    .proccess-list-item h3  {
        font-size: 1.125rem
    }
    .proccess-list-item  {
        height: auto
    }
    .max-width-project.m-auto.me-0.d-flex.flex-column.flex-md-row.align-items-center.justify-content-between.py-5, .max-width.m-auto.content-project.d-flex.flex-column.flex-md-row.justify-content-between.align-items-baseline.position-relative.z-1.text-center.text-md-start, .max-width.m-auto.d-flex.flex-column.flex-md-row.justify-content-end.align-items-center.text-center.text-md-start.py-5, .perfect-choice .max-width.m-auto.d-flex.flex-column.flex-md-row.justify-content-between.align-items-center.py-4, .proccess-top .d-flex.flex-column.flex-md-row  {
        flex-direction: column !important
    }
    .trust-whi h2  {
        padding: 0 50px !important
    }
    .proccess-top a  {
        margin: 0 auto 0 0;
        padding-left: 3rem !important
    }
    .robot-lamp  {
        max-width: 160px;
        margin-right: 0 !important
    }
    .position-relative.d-flex.justify-content-center.flex-column.align-items-center  {
        align-items: end !important
    }
    .position-relative.d-flex.justify-content-center.flex-column.align-items-center a  {
        margin-top: 0 !important
    }
    #project .col-2, #project .col-lg-9, #project .content-lef.col-6, #project .content-right.col-4, .content-lef .montserrat-semiBold, .content-lef.col-12.col-md-4.text-center.text-md-end, .content-right.col-12.col-md-7.mt-4.mt-md-0, .proccess-top p, .proccess-top__title, .trust-whi h2  {
        width: 100% !important
    }
    .faq .title, .perfect-choice h2 span, .proccess-top__title h2, .transformed h2, .trust-whi h2 span  {
        font-size: 3.375rem
    }
    .content-lef h2, .emphasis.montserrat-semiBold, .trust-whi h2  {
        font-size: 2.75rem
    }
    .faq .me-5  {
        margin: 0 auto !important
    }
    .faq .me-5 .row  {
        flex-direction: column
    }
    #transformed img, .col-2.aos-init.aos-animate, .col-lg-9.aos-init.aos-animate, .faq .me-5 .row .col-md-6  {
        width: 100%
    }
    .faq .me-5 .row .col-md-6:nth-of-type(2)  {
        width: 90%;
        margin: 30px auto 0
    }
    .content-lef h2  {
        width: 70% !important;
        text-align: left;
        line-height: 60px
    }
    .content-lef.col-12.col-md-4.text-center.text-md-end  {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 0 50px
    }
    .perfect-choice .max-width.m-auto.d-flex.flex-column.flex-md-row.justify-content-between.align-items-center.py-4  {
        gap: 35px
    }
    .perfect-choice-list-item  {
        max-width: inherit;
        height: 220px
    }
    .hero h1  {
        width: 94%;
        font-size: 2.625rem
    }
    .width-md  {
        width: 194px
    }
}
@media (max-width:630px)  {
    .d-flex.justify-content-between.align-items-center.mt-5  {
        flex-direction: column;
        gap: 10px
    }
    .logo  {
        text-align: center
    }
    .proccess-top__title, .transformed .col-12.col-md-8.text-center, p  {
        text-align: left !important
    }
    .sitemap, .social-links.d-flex.justify-content-end.gap-4.text-center  {
        justify-content: center !important
    }
    .emphasis.montserrat-semiBold, .faq .title  {
        margin: 0;
        padding: 0 20px
    }
    .faq, .trust-whi-details-slider  {
        padding: 35px 0
    }
    .max-width.m-auto.d-flex.flex-column.flex-md-row.justify-content-end.align-items-center.text-center.text-md-start.py-5  {
        padding-bottom: 0 !important
    }
    .trust-whi-list-item  {
        max-width: 85%
    }
    .perfect-choice .max-width.m-auto.d-flex.flex-column.flex-md-row.justify-content-between.align-items-center.py-4  {
        gap: 30px;
        padding-top: 0 !important
    }
    .content-lef.col-12.col-md-4.text-center.text-md-end, .hero .description, .max-width.m-auto.d-flex.flex-column.flex-md-row.justify-content-end.align-items-center.text-center.text-md-start.py-5.aos-init.aos-animate, .proccess-top .d-flex.flex-column.flex-md-row, .row.row-cols-1.row-cols-sm-2.row-cols-md-3.row-cols-lg-4.row-cols-xl-4.g-3.mt-5, .trust-whi h2  {
        padding: 0 20px !important
    }
    #header  {
        padding: 20px
    }
    .text-left-project  {
        padding-right: 10px
    }
    .transformed-padding  {
        padding: 50px 20px
    }
    .max-width-project  {
        padding-left: 20px
    }
    .proccess-list-item h2  {
        font-size: 3rem
    }
    .light-background .content-project  {
        padding: 0 20px
    }
    .project-list-item img  {
        max-width: 45px
    }
    .project-list-item h3  {
        font-size: 1.25rem
    }
    .content-lef.col-12.col-md-4.text-center.text-md-end  {
        flex-direction: column;
        flex-wrap: wrap
    }
    .proccess-list-item h3  {
        font-size: 1.75rem
    }
    .proccess-top .d-flex.flex-column.flex-md-row  {
        gap: 30px !important
    }
    .faq .title, .perfect-choice h2 span, .proccess-top__title h2, .transformed h2, .trust-whi h2 span  {
        font-size: 2.5rem
    }
    .content-lef .montserrat-semiBold, .emphasis.montserrat-semiBold, .trust-whi h2  {
        font-size: 2.25rem;
        line-height: 40px;
        margin-bottom: 30px;
        text-align: left
    }
    .position-relative.d-flex.justify-content-center.flex-column.align-items-center a  {
        margin: 0 auto 0 0
    }
    .carousel-top-width  {
        width: calc(100% - 280px)
    }
    .rating  {
        width: auto;
        padding: 0 35px
    }
    .emphasis.montserrat-semiBold, .project .content-lef h2  {
        font-size: 2rem;
        line-height: 37px;
        margin-bottom: 30px
    }
}
@media (max-width:576px)  {
    .announcement .image img{
        object-fit: contain;
    }
    .rounded-top-left{
        margin-bottom: 30px !important;
    }
    .col-12.col-lg-9.mb-5.pb-4.d-flex.justify-content-between.gap-3.flex-wrap.align-items-center{
        margin-bottom: 10px !important;
    }
    .menu-mobile .text-white.nav-link.montserrat-regular.font-18{
        font-size: 0.938rem;
    }
    .modal-dialog.modal-dialog-centered{
        width: 95% !important;
        margin: 0 auto;
    }
    .menu-mobile-down{
        display: block;
    }
    .social-links .carrossel{
        width: 100%;
        height: auto;
        line-height: 14px;
        text-align: center;
        font-size: 0.75rem;
        z-index: -1;
    }
    .menu-icon{
        width: 25px !important;
        height: 25px !important;
    }
    .menu-icon span{
        height: 2.5px !important;
    }
    .bi.bi-box-arrow-right.font-18{
        font-size: 0.875rem;
    }
    .image-profile{
        width: 35px;
        height: 35px;   
    }
    .login h2, .login h3{
        font-size: 0.75rem;
    }
    .swiper-button-next:after, .swiper-button-prev:after  {
        font-size: 18px;
        font-weight: 800;
    }
}
@media (max-width:476px){
    .d-flex.flex-column.col-10.comment{
        width: 80%;
    }
    .text-color.mb-0.montserrat-regular.font-12{
        font-size: 0.625rem;
    }
    .footer .container{
        padding-bottom: 35px !important;
        padding-top: 35px !important;
    }
    .sitemap .logo img{
        width: 95px;
    }
    br{
        display: none;
    }
    .login .loginOn{
        font-size: 0.563rem;
    }
    .social-links.d-flex.justify-content-between.align-items-center.gap-4.text-center.col-9{
        padding-right: 15px;
    }
    .d-flex.justify-content-start.align-items-center.gap-2.text-decoration-none.lh-0,
    .nav-link.waves-effect.waves-light{
        width: inherit;
        height: inherit;
    }
    #menu-toggle{
        display: none;
    }
    .d-flex.justify-content-between.align-items-center.mt-5 {
        margin-top: 0 !important;
        margin-bottom: 35px;
    }
    .d-flex.justify-content-between.align-items-center.mt-5 p{
        text-align: center !important;
    }
    .d-flex.justify-content-end.flex-column.w-auto.montserrat-semiBold span a{
        align-items: flex-start;
        margin: 0 auto;
        text-align: left;
        font-size: 0.75rem;
    }
    .d-flex.justify-content-end.flex-column.w-auto.montserrat-semiBold span a svg{
        width: 30px;
    }
    .d-flex.justify-content-end.flex-column.w-auto.montserrat-semiBold{
        text-align: center;
        align-items: center;
    }
    .footer ul{
        text-align: center!important;
    }
    .site-navigation.position-relative.text-end.w-25.redes-sociais,
    .p-0.d-flex.justify-content-start.gap-5.flex-row.mb-0{
        width: 100% !important;
        justify-content: center !important;
        gap: 35px !important;
    }
    .dark-background.rounded-3.px-5.py-4{
        padding: 20px 11px !important;
    }
    .firula-contact{
        width: 50px;
    }
    .dark-background.rounded-3.px-5.py-4{
        width: 95%;
    }
    .sc{
        width: 100%;
    }
    .sitemap{
        margin-bottom: 35px !important;
    }
    .credits img{
        width: 85px;
    }
    .socials-network{
        height: 200px;
        padding-top: 0 !important;
        gap: 0px;
    }
    aside .img-fluid.annun{
        width: 100% !important;
    }
    #commentForm button,
    .montserrat-semiBold.font-16.d-flex.justify-content-between.align-items-center.gap-2.background-red.py-2.px-3.text-white.rounded-3,
    .bg-webmail{
        padding: 5px 10px;
    }
    .bg-webmail{
        width: 100px;
        height: auto;
    }
    .bg-white.border.border-top-0.p-4{
        padding: 10px !important;
    }
    .announcement .image {
        max-width: inherit;
        height: 110px;
        max-height: inherit;
    }
    .container-fluid{
        padding: 0 !important;
    }
    .montserrat-bold.font-28.mt-5.title-blue{
        margin-top: 25px !important;
    }
    .section-title.rounded-top-left.rounded-3.d-flex.justify-content-between.align-items-center.h-100 svg{
        width: 20px;
    }
    .btn.px-4.background-red.rounded-3.text-white.montserrat-medium.font-15,
    .btn.bg-secondary.rounded-3.text-white.montserrat-medium.font-15,
    .btn.px-5.background-red.rounded-3.text-white.montserrat-medium.font-15{
        padding: 5px 15px;
        font-size: 0.75rem;
    }
    .m-0.text-uppercase.montserrat-bold.font-22.title-blue,
    .mb-3.title-blue.montserrat-bold.font-32.text-uppercase,
    .montserrat-bold.font-30.mb-2.title-blue,
    .montserrat-bold.font-28.mt-5.title-blue,
    .montserrat-bold.font-30.mb-0.title-blue,
    .modal-title.text-uppercase.montserrat-bold.font-22.text-white{
        font-size: 1.125rem;
    }
    .badge.badge-primary.montserrat-semiBold.font-12.me-2.background-red.text-uppercase.font-weight-semi-bold.p-2,
    .badge.background-red.montserrat-semiBold.font-12.text-uppercase.py-2.px-2.me-2{
        font-size: 0.625rem;
    }   
    .h6.m-0.text-uppercase.montserrat-bold.font-14.title-blue,
    .btn.btn-sm.btn-outline-secondary.montserrat-semiBold.font-14.m-1,
    .mb-1.montserrat-bold.font-15.title-blue.text-uppercase,
    .text-muted.text-color.montserrat-regular.font-16.title-blu,
    .montserrat-regular.font-15.text-white.text-center{
        font-size: 0.75rem;
    } 
    #news{
        padding-top: 0px !important;
    }
    .h2.m-0.text-white.text-uppercase.montserrat-bold.font-32.d-block,
    .m-0.text-uppercase.montserrat-bold.font-25.title-blue{
        font-size: 1.125rem;
    }
    .h6.m-0.text-white.text-uppercase.montserrat-bold.font-16.d-block,
    .h4.d-block.mb-3.text-uppercase.montserrat-semiBold.font-20.title-blue,
    .m-0.text-color.montserrat-regular.font-16,
    .text-color.montserrat-regular.font-16.text-start,
    .text-blog-inner.montserrat-regular.font-16 p,
    .montserrat-semiBold.font-16.d-flex.justify-content-between.align-items-center.gap-2.background-red.py-2.px-3.text-white.rounded-3,
    #commentForm button, #contactForm button{
        font-size: 0.938rem;
    }
    .montserrat-regular.text-color.font-12{
        text-align: left;
    }
    #footer-text{
        font-size: 0.75rem;
    }
    #newsletterForm .input-group-append, 
    #contactForm button{
        margin: 0 auto;
        margin-right: 0;
        margin-top: 10px;
    }
    #contactForm button{
        padding: 5px 10px;
    }
    .contact .description{
        width: 75%;
    }
    #newsletterForm .input-group-append button{
        padding: 5px;
    }
    .form-control.form-control-lg.montserrat-regular.text-color.font-14{
        width: 100%;
        border-radius: 5px !important;
    }
    .faq .ex.title  {
        padding: 0 10px
    }
    .faq  {
        padding: 30px 0
    }
    .faq .d-flex.flex-wrap, .faq .d-flex.flex-wrap .col-md-6  {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row-reverse
    }
    .faq .d-flex.flex-wrap .col-md-6 .eng-title  {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center
    }
    .faq .d-flex.flex-wrap .col-md-6 .eng-title h3  {
        margin-top: 0 !important
    }
    .hero .description  {
        top: 170px;
        margin-top: 0
    }
    .project-list-item h3, .rating span  {
        font-size: 1rem
    }
    .trust-whi-list-item  {
        max-width: 80%;
        margin-right: 13px
    }
    .max-width-project  {
        padding-left: 0;
        max-width: inherit
    }
    .project-list-item img  {
        max-width: 35px
    }
    .project-list-item ul li  {
        font-size: .75rem
    }
    .project-list-carousel  {
        width: 100%;
        padding: 0 10px
    }
    .stack-details-slider  {
        padding-bottom: 35px
    }
    .btn-navigation  {
        margin-right: inherit;
        width: 130px
    }
    .stack-details-slider .swiper-button-next, .stack-details-slider .swiper-button-prev  {
        display: block
    }
    .max-width-project.m-auto.me-0.d-flex.flex-column.flex-md-row.align-items-center.justify-content-between.py-5  {
        padding: 0;
        width: 95%;
        margin: 0 auto !important;
        padding-bottom: 0 !important
    }
    .project-list-details-slider  {
        padding-top: 30px
    }
    .firula-project  {
        bottom: 30px
    }
    .laptop-parallax  {
        max-width: 250px;
        margin: 0 auto;
    }
    .answer  {
        width: 90%;
        margin: 0 auto
    }
    .hand-faq.img-fluid  {
        margin-top: 0 !important;
        max-width: 75px;
    }
    .faq .d-flex.flex-wrap .col-md-6:nth-of-type(2)  {
        margin-top: 30px;
    }
    .carousel-project img  {
        aspect-ratio: 65 / 30;
        width: 80px;
    }
    .client-img  {
        max-width: 90px
    }
    .trust-whi h2  {
        margin-bottom: 0
    }
    .social-links a  {
        width: 30px;
        height: 30px;
        font-size: .938rem
    }
    .logo-img  {
        padding: 0 !important;
        width: 150px
    }
    .social-links.d-flex.justify-content-between.align-items-center.gap-4.text-center.col-9{
        padding-right: 5px;
    }
    .content-right p, .hero p, .perfect-choice .content-right .text, .proccess-top p, .text-left-project, .transformed p  {
        font-size: .938rem !important
    }
    .proccess-top .d-flex.flex-column.flex-md-row  {
        gap: 10px !important
    }
    .call-to-action  {
        height: 40px;
        font-size: 18px;
        width: 230px;
        padding-left: 1.5rem !important
    }
    .proccess-list-item  {
        height: auto
    }
    .proccess-top a  {
        padding-left: 1.5rem !important;
        margin-top: 0 !important
    }
    .col-12.col-md-4.d-flex.justify-content-center.justify-content-md-end.align-items-center.mt-3.mt-md-0 .call-to-action  {
        margin: 0 auto 0 20px;
        margin-top: 0 !important
    }
    .count-star, .count-star h5  {
        gap: .5rem !important
    }
    #stars-container img  {
        width: 100%;
        max-width: 15px
    }
    .width-md  {
        width: auto
    }
    .carousel-trust-whi .swiper-slide .text  {
        font-size: .75rem !important
    }
    .accordion-item:first-of-type>.accordion-header .accordion-button, [type=button]:not(:disabled), button:focus:not(:focus-visible), button:not(:disabled)  {
        font-size: .938rem;
        padding: 10px
    }
    .perfect-choice-list-item  {
        height: auto !important
    }
    .proccess-list-item h2  {
        font-size: 2.55rem
    }
    .proccess-list-item h3, .trust-whi h2  {
        font-size: 1.25rem;
        line-height: 30px
    }
    .content-lef .montserrat-semiBold, .content-lef .montserrat-semiBold span, .emphasis.montserrat-semiBold, .faq .title, .hero h1, .perfect-choice h2 span, .proccess-top__title h2, .project .content-lef h2, .transformed h2, .transformed h3, .trust-whi h2 span  {
        font-size: 1.5rem
    }
    .content-lef .montserrat-semiBold  {
        line-height: 33px !important
    }
    .emphasis.montserrat-semiBold  {
        padding: 0;
        margin-top: 10px !important;
        line-height: 26px
    }
    .ex.emphasis.montserrat-semiBold  {
        padding: 0;
        margin-bottom: 0
    }
    .carousel-top-width  {
        width: 50%
    }
    .rating  {
        padding: 0;
        width: 45%
    }
    .hero h1, .hero p  {
        margin-bottom: 20px !important
    }
    .project .content-lef h2  {
        line-height: 30px
    }
}
@media (max-width:414px)  {
    .h6.m-0.text-uppercase.montserrat-bold.font-14.title-blue{
        font-size: 0.625rem;
    } 
    .badge.badge-primary.montserrat-semiBold.font-10.text-uppercase.py-1.px-2.background-red{
        font-size: 0.5rem;
    }
}

@media (max-width:320px)  {
    .project-list-item .montserrat-semiBold  {
        font-size: .625rem
    }
}