/* Calendário básico */
.day-number {
    font-weight: bold;
    width: 100%;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700;        
}
.event-list {
    display: flex;
    flex-direction: column;
    gap: 2px; 
    margin-top: 4px;
}
.event-badge {
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: break-spaces;
    margin-top: 2px;
    background-color: var(--background-blue);
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    min-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 13px
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 25px;
}
#calendar .header span{
    color: var(--background-blue);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 1.563rem;
}
.event-item strong, .event-item span{
    color: var(--background-red);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
}
.event-item h4{
    color: var(--background-blue);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    text-transform: uppercase;
}
.event-item a{
    color: var(--background-blue);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    font-size: 0.938rem;
}
.event-item .description{
    color: var(--text-color);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 0.938rem;
}
.event-item{
    color: var(--text-color);
}
.day {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    cursor: pointer;
    color: var(--text-color);
    position: relative;
    min-height: 130px;
}
.day.event {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;    
    color: var(--text-color);
    font-weight: bold;
    border-radius: 5px;
}
/* Indicador de múltiplos eventos */
.day.multiple::after {
    content: '•';
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: yellow;
    font-size: 16px;
}
.header {
    grid-column: span 7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.header button {
    background-color: var(--background-red);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 100%;
}
.weekdays {
    display: contents;
}
.weekday {
    font-weight: bold;
    text-align: center;
    padding: 5px 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    color: var(--text-color);
}
.holiday-month{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 700; 
    font-size: 1.125rem;
    color: var(--background-blue);
}
#holidays-block{
    width: 98%;
    margin: 0 auto;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.holiday-item, #events-list p {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    color: var(--text-color);
    font-size: 0.938rem;
}

.event-item {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.event-item a {
    color: var(--background-blue);
    text-decoration: underline;
}
 .popup {
     display: none;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.6);
     justify-content: center;
     align-items: center;
     z-index: 1000;
 }

 .close-btn {
     cursor: pointer;
 }

 .popup-content {
     max-width: 476px;
     position: relative;
     padding: 0 15px;
     display: flex;
     justify-content: center;
     align-items: end;
     flex-direction: column;
 }

 .popup-content img {
     width: 100%;
 }

 html,
 body {
     overflow-x: hidden;
 }

 *,
 *::before,
 *::after {
     box-sizing: border-box;
 }

 .swiper-button-next,
 .swiper-button-prev {
     color: var(--text-color-blog-inner);
     width: 30px;
 }

 .menu-mobile-down {
     display: none;
 }

 .carrossel-mobile {
     height: 35px;
 }

 .menu-mobile-down {
     background-color: #00000066;
     z-index: 12;
     height: 35px;
 }

 .nav-mob-center {
     left: 50%;
     top: -25px;
     transform: translate(-50%, 0px);
     background: var(--background-blue);
     width: 50px;
     height: 50px;
     border-radius: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .comment-scroll {
     height: 100%;
     max-height: 460px;
     overflow-y: scroll;
 }

 .comment-text {
     color: var(--text-color);
     font-size: 1rem;
     font-family: "Montserrat", sans-serif;
     font-optical-sizing: auto;
     font-style: normal;
     font-weight: 300;
 }

 .hidden div span span[aria-current="page"] span {
     background: #2F368B !important;
     margin: 0 5px !important;
     padding: 5.8px 9px 5.8px 9px !important;
     font-family: "Ubuntu", sans-serif;
     font-size: 0.87rem !important;
     color: #FFF !important;
 }

 .hidden div {
     position: relative !important;
     display: flex !important;
     flex-direction: row !important;
     width: 100% !important;
     margin-top: 0px !important;
     align-items: center !important;
     justify-content: end !important;
 }

 .hidden div a {
     background: #f4f4f4 !important;
     margin: 0 5px !important;
     padding: 5px 5px 5px 8px !important;
     font-family: "Ubuntu", sans-serif;
     font-size: 0.87rem !important;
     color: #262626 !important;
 }

 .hidden div p {
     display: none;
 }

 .relative.inline-flex.items-center.px-2.py-2,
 .flex.justify-between.flex-1 {
     display: none;
 }

 aside .img-fluid.annun {
     width: 355px !important;
     max-width: 433px !important;
     border-radius: 10px;
     object-fit: contain;
     aspect-ratio: inherit;
 }

 .blog-content .col-md-6.h-100.px-0.overflow-hidden {
     background: #cccccc33;
 }

 /* .image-inner {
     max-height: 545px;
     max-width: 856px;
 } */

 .text-color.montserrat-regular.font-16 p {
     font-size: 1rem;
     color: #9A9DA2;
     font-family: "Montserrat", sans-serif;
     font-optical-sizing: auto;
     font-style: normal;
     font-weight: 300;
 }

 .text-color.montserrat-regular.font-16 p img {
     margin-right: 15px;
 }

 .search input {
     font-size: 14px !important;
     background: #FFF !important;
 }

 .menu-mobile {
     left: 0;
     right: 0;
     width: 100vw;
     max-width: 100vw;
 }

 .menu-mobile {
     display: none;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: var(--background-blue);
     z-index: 10 !important;
     padding: 2rem;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     overflow-y: auto;
     transition: opacity 0.3s ease;
     opacity: 0;
     pointer-events: none;
 }

 .menu-mobile.active {
     display: flex;
     opacity: 1;
     pointer-events: auto;
 }

 .menu-mobile nav ul li {
     margin: 1rem 0;
 }

 .menu-mobile nav ul li a {
     font-size: 1.5rem;
     color: #2F4C78;
     text-decoration: none;
 }

 .overlay a:hover {
     text-decoration: underline;
 }

 .underline:hover {
     text-decoration: underline;
     color: var(--color-blue);
 }

 .overlay {
     position: absolute;
     width: 100%;
     height: 100%;
     padding: 30px;
     top: 0;
     left: 0;
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     justify-content: flex-end;
     background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #1e2024);
     z-index: 1;
 }

 .swiper-pagination.news {
     top: 30px !important;
     left: inherit !important;
     right: 20px !important;
     width: auto !important;
     height: 30px !important;
 }

 .swiper-pagination.news .swiper-pagination-bullet {
     width: 20px;
     height: 20px;
     border-radius: 5px !important;
     transition: all 0.3s ease;
     background: #FFFFFF !important;
     opacity: inherit !important;
 }

 .swiper-pagination.news .swiper-pagination-bullet-active {
     width: 40px !important;
     border-radius: 5px !important;
     background: #E5282A !important;
 }

 .under {
     color: #E5282A;
 }

 body .uwy.userway_p1 .userway_buttons_wrapper {
     top: 40% !important;
     right: -34px !important;
     left: inherit !important
 }

 .site-navigation.ul li a {
     position: relative;
 }

 .site-navigation.ul li a::after {
     content: "";
     position: absolute;
     left: 0;
     bottom: -2px;
     width: 100%;
     height: 3px;
     background-color: var(--background-red);
     transform: scaleX(0);
     transform-origin: left;
     transition: transform 0.3s ease-in-out;
 }
 .site-navigation.ul li .dropdown-item:active{
    background: var(--background-blue);
 }
.site-navigation.ul li:nth-of-type(2) a::after,
.site-navigation.ul li:nth-of-type(3) a::after,
.site-navigation.ul li:nth-of-type(4) a::after{
    display: none;
}
 .site-navigation.ul li a.active::after {
     width: 100%;
     background-color: var(--background-red);
 }

 .site-navigation ul li a:hover::after,
 .site-navigation ul li a.active::after {
     transform: scaleX(1);
 }

 .project-list-item img,
 .rating span img {
     aspect-ratio: 1/1;
     object-position: center
 }

 .image-hero,
 .img-fluid,
 .project-list-item img,
 .rating span img {
     object-position: center
 }

 .swal2-html-container,
 .montserrat-ExtraBold,
 .montserrat-bold,
 .montserrat-medium,
 .montserrat-regular,
 .montserrat-semiBold {
     font-family: "Montserrat", sans-serif;
     font-optical-sizing: auto;
     font-style: normal
 }

 .lh-0 {
     line-height: 0;
 }

 .image-profile {
     width: 40px;
     height: 40px;
 }

 .image-profile img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 .dropify-wrapper .dropify-message p {
     font-size: 15px !important;
 }

 .bg-box-contact {
     background: #F1F0F0;
 }

 .btn-close-menu {
     font-size: 35px !important;
 }

 .font-10 {
     font-size: 0.625rem;
 }

 .font-12 {
     font-size: 0.75rem;
 }

 .font-14 {
     font-size: 0.875rem;
 }

 .font-15 {
     font-size: 0.938rem;
 }

 .font-16 {
     font-size: 1rem;
 }

 .font-18 {
     font-size: 1.125rem;
 }

 .font-20 {
     font-size: 1.25rem;
 }

 .font-24 {
     font-size: 1.5rem;
 }

 .font-25 {
     font-size: 1.563rem;
 }

 .font-28 {
     font-size: 1.75rem;
 }

 .font-30 {
     font-size: 1.875rem;
 }

 .font-32 {
     font-size: 2rem;
 }

 .font-40 {
     font-size: 2.5rem;
     line-height: 60px;
 }

 .header--category ul li a {
     transition: all 0.3s ease;
 }

 .header--category ul li a:hover {
     color: var(--background-red);
     transition: all 0.3s ease;
 }

 .header--category ul li a.active {
     color: var(--background-red);
 }

 .sitemap ul li a,
 a {
     text-decoration: none
 }

 .swiper-wrapper {
     overflow: visible !important
 }

 .swiper-slide {
     min-width: 0;
     flex-shrink: 0;
     height: auto !important
 }

 .stack-details-slider .swiper-button-next,
 .stack-details-slider .swiper-button-prev {
     display: none;
     color: transparent;
     -webkit-text-stroke: 2px black
 }

 .scroll-top {
     position: fixed;
     visibility: hidden;
     opacity: 0;
     right: 15px;
     bottom: -15px;
     z-index: 99999;
     background-color: var(--background-red);
     width: 44px;
     height: 44px;
     border-radius: 50px;
     transition: .4s
 }

 .scroll-top i {
     font-size: 24px;
     color: var(--contrast-color);
     line-height: 0
 }

 .project-list-item {
     width: 264.2px
 }

 .scroll-top:hover {
     background-color: color-mix(in srgb, var(--background-red), transparent 20%);
     color: var(--contrast-color)
 }

 .scroll-top.active {
     visibility: visible;
     opacity: 1;
     bottom: 15px
 }

 .light-background,
 :root {
     --surface-color: #ffffff
 }

 .dark-background,
 :root {
     --contrast-color: #ffffff
 }

 body {
     overflow-x: hidden;
     font-family: var(--default-font) var(--background-color)
 }

 .d-flex.align-items-center.bg-white.mb-3.overflow-hidden {
     border-radius: 8px 0 0 8px;
 }

 aside .img-fluid {
     max-width: 110px;
     object-fit: cover;
     aspect-ratio: 1 / 1;
 }

 p {
     color: var(--text-color-blog-inner);
 }

 .header,
 body {
     color: var(--default-color);
     background-color: var(--background-color)
 }

 .footer,
 .header,
 body {
     background-color: var(--default-color)
 }

 #preloader,
 .testimonials .testimonials-carousel,
 .testimonials .testimonials-slider {
     overflow: hidden
 }

 :root {
     --default-font: "Montserrat", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
     --heading-font: "Montserrat", sans-serif;
     --nav-font: "Montserrat", sans-serif;
     --background-color: #F9F9F9;
     --background-red: #E5282A;
     --background-blue: #2F368B;
     --default-color: #F9F9F9;
     --text-color: #6c757d;
     --text-color-blog-inner: #6c757d;
     --title-color-blue: #31404B;
     --cta-background-color: #091DFF;
     --nav-hover-color: #ffffff;
     --background-color-white: #ffffff;
     --background-color-grey: #F8F9FC;
     --background-color-dark: #101820;
     --background-color-grey-medium: #D9D9D9;
     --background-color-client: #F1F0F0;
     --background-color-trust-whi: #F4F4F4;
     --color-white: #ffffff;
     --color-blue: #1D164E;
     --emphasis-color: #1FAD90;
     scroll-behavior: smooth
 }
.gap-x-1rem {
    display: flex;
    gap: 0 1rem;
}
.function{
    color: var(--background-blue);
}
 .text-blog-inner {
     color: var(--text-color-blog-inner);
 }

 .text-blog-inner.montserrat-regular.font-16 p {
     color: var(--text-color-blog-inner);
     font-family: "Montserrat", sans-serif;
     font-optical-sizing: auto;
     font-style: normal;
     font-weight: 300;
 }

 .text-blog-inner.montserrat-regular.font-16 p img {
     height: 100% !important;
     max-width: 370px;
     width: 100% !important;
     max-height: 435px;
     margin: 0 15px;
 }

 .bg-webmail {
     background: var(--background-color-client);
     width: 170px;
     height: 39px;
 }

 .title-blue {
     color: var(--title-color-blue);
 }

 .text-color {
     color: var(--text-color);
 }

 .rounded-top-left {
     border-radius: 10px 0 0 0;
 }

 .background-red {
     background-color: var(--background-red) !important;
 }

 .d-flex.flex-wrap.m-n1 a:hover {
     background-color: var(--background-red) !important;
     border-color: transparent;
 }

 .d-flex.flex-wrap.m-n1 .active {
     border-color: transparent;
 }

 .montserrat-regular {
     font-weight: 400
 }

 .montserrat-medium {
     font-weight: 500
 }

 .montserrat-semiBold {
     font-weight: 600
 }

 .montserrat-bold {
     font-weight: 700
 }

 .montserrat-ExtraBold {
     font-weight: 800
 }

 .light-background {
     background-color: var(--background-color-white)
 }

 .trust-whi-background {
     background-color: var(--background-color-trust-whi)
 }

 .blue-background {
     background-color: var(--color-blue)
 }

 .grey-background {
     background-color: var(--background-color-grey)
 }

 .grey-medium-background {
     background-color: var(--background-color-grey-medium)
 }

 .dark-background-medium {
     background-color: var(--background-color-dark)
 }

 .dark-background {
     background-color: var(--background-blue);
     color: var(--default-color)
 }

 .max-width {
     max-width: 1200px
 }

 .max-width-project {
     max-width: 1360px
 }

 .emphasis {
     color: var(--emphasis-color);
     text-shadow: 0 0 1px rgba(0, 0, 0, .2)
 }

 a {
     color: var(--accent-color);
     transition: .3s
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     color: var(--heading-color);
     font-family: var(--heading-font)
 }
 .board .image{
    aspect-ratio: 1/1;
    width: 90px;
    height: 90px;
 }
.board .image img{
    object-fit: contain;
    object-position: center;  
    width: 100%;
 }
.about .description ul li{
    list-style: none;
}
.about .description ul li::before{
    content:'';
    background-image: url('../images/ok.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 21px;
    height: 21px;
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
 }
 .about:nth-of-type(even){
    flex-direction: row-reverse !important;
 }
.about .image{
    aspect-ratio: 1/1;
    max-width: 450px;
}
.about .image img{
    object-fit: contain;
    object-position: center;
}
 .d-flex.justify-content-end.flex-column.w-auto {
     height: auto;
     gap: 10px
 }

 .social-links.superior {
     margin-top: 0
 }

 .redes-sociais ul li img {
     width: 25px;
     height: 25px;
 }

 .carousel-trust-whi .swiper-slide-active {
     transform: scale(1.1) !important;
     transition: transform .3s ease-in-out
 }

 .col-md-6.h-100.px-0 img,
 .d-flex.align-items-center.bg-white.mb-3 img,
 .main-swiper img,
 .box-small img {
     transition: all 0.3s ease;
 }

 .col-md-6.h-100.px-0:hover img,
 .d-flex.align-items-center.bg-white.mb-3:hover img,
 .main-swiper:hover img,
 .box-small:hover img {
     transform: scale(1.05);
     transition: all 0.3s ease;
 }

 .box-notices {
     transition: all 0.3s ease;
 }

 .box-notices:hover {
     transform: scale(1.05);
     transition: all 0.3s ease;
 }

 .announcement .image {
     max-width: 1137px;
     max-height: 205px;
     width: 100%;
     height: auto;
     overflow: hidden;
 }

 .announcement .image img {
     height: auto;
     object-fit: cover;
     display: block;
 }

 .bg-light {
     background: #F1F0F0 !important;
 }

 .padding-t-80 {
     padding-top: 80px;
 }

 .text-address p {
     color: var(--text-color);
     font-size: 0.938rem;
     font-family: "Montserrat", sans-serif;
     font-optical-sizing: auto;
     font-style: normal;
     font-weight: 300;
 }

 .login {
     width: 40px;
     height: 40px;
 }

 .relative.z-0.inline-flex.shadow-sm.rounded-md {
     box-shadow: inherit !important;
 }

 .btn-reset,
 .btn-close-menu {
     all: unset;
     cursor: pointer;
 }

 .comments img {
     width: 45px;
     height: 45px;
 }

 #shareBtn {
     width: 171px;
 }

 .socialLinks {
     max-height: 0;
     transition: max-height 0.4s ease, opacity 0.4s ease;
 }

 .btn-insta {
     background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
     transition: all 0.3s ease;
 }

 .btn-tiktok {
     background: #000000;
     transition: all 0.3s ease;
 }

 .bg-whatsapp,
 .bg-whatsapp.btn:hover {
     background: #25d366;
     transition: all 0.3s ease;
 }

 .btn-twiter,
 .btn-tiktok.btn:hover {
     background: #000000;
     transition: all 0.3s ease;
 }

 .btn-twiter,
 .btn-twiter.btn:hover {
     background: #1DA1F2;
     transition: all 0.3s ease;
 }

 .btn-youtube,
 .btn-youtube.btn:hover {
     background: #ff0000;
     transition: all 0.3s ease;
 }

 .btn-facebook,
 .btn-facebook.btn:hover {
     background: #3b5998;
     transition: all 0.3s ease;
 }

 .bg-whatsapp.btn:hover,
 .btn-facebook.btn:hover,
 .btn-youtube.btn:hover,
 .btn-twiter.btn:hover,
 .btn-tiktok.btn:hover,
 .btn-insta.btn:hover,
 .bg-whatsapp.btn:hover {
     transform: scale(1.05);
     transition: all 0.3s ease;
 }

 .firula-contact {
     width: 111px;
     height: 12px;
     background: var(--background-blue);
     border-radius: 0 15px 15px 0;
 }

 .socials-network {
     height: 260px;
 }

 .logo-img .img-fluid {
     width: 320px;
     height: auto;
     object-fit: cover;
     display: block;
 }

 .section-title {
     margin-bottom: 15px;
     padding: 15px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     background: var(--background-color-white);
     border: 1px solid #dee2e6;
     border-left: 5px solid var(--background-blue);
 }

 .hero {
     width: 100%;
     height: 100%;
     justify-content: center
 }

 .hero h1 {
     font-size: 3.125rem;
     width: 45%
 }

 .hero p {
     margin: 5px 0 0;
     font-size: 26px
 }

 .hero h1 b {
     color: var(--emphasis-color);
 }

 .hero .description {
     margin-top: 40px
 }

 .image-hero {
     width: 100%;
     height: auto;
     aspect-ratio: 1200 / 780;
     object-fit: cover;
     display: block;
 }

 .section {
     overflow: clip
 }

 .position {
     position: sticky;
     top: 0;
     left: 0;
     z-index: 10;
 }

 .header-color {
     background: var(--background-blue);
     border-bottom: 5px solid var(--background-red);
 }

 .swiper-container-wrapper {
     display: flex;
     flex-direction: column;
     gap: 20px;
     overflow: hidden;
     padding: 20px 0
 }

 .sitemap ul li a:hover::after,
 .swiper {
     width: 100%
 }

 .swiper-slide {
     display: flex;
     justify-content: center;
     align-items: center
 }

 .swiper-slide img {
     width: 100px;
     height: auto
 }

 .client-img img {
     height: auto;
     aspect-ratio: 64 / 20;
     object-fit: cover;
     display: block;
 }

 .copyright p,
 .copyright span,
 .sitemap ul li {
     font-size: 1rem;
     line-height: 24px;
     margin: 0
 }

 .sitemap ul li a {
     position: relative;
     color: inherit
 }

 .sitemap ul li a::after {
     content: "";
     position: absolute;
     left: 0;
     bottom: -5px;
     width: 0;
     height: 3px;
     transition: width .3s ease-in-out
 }

 @media (max-width: 991.98px) {
     .social-links.d-flex.justify-content-between.align-items-center.gap-4.text-center.col-9 {
         justify-content: flex-end !important;
     }
     .none {
         display: none !important;
     }
 }

 @media (max-width:885px) {
     .hero {
         height: 100%;
     }
     .image-hero {
         aspect-ratio: 195 / 293;
         object-position: top center;
     }
     .client-img {
         max-width: 120px
     }
 }

 @media (max-width:769px) {
     .announcement {
         width: 95% !important;
     }
     .announcement .swiper-slide {
         padding: 30px 0 !important;
     }
     .announcement .image {
         max-width: inherit;
         height: 200px;
     }
     .announcement .image img {
         height: 100%;
     }
 }

 @media (max-width:630px) {
     .d-flex.justify-content-between.align-items-center.mt-5 {
         flex-direction: column;
         gap: 10px
     }
     .logo {
         text-align: center
     }
     .proccess-top__title,
     .transformed .col-12.col-md-8.text-center,
     p {
         text-align: left !important
     }
     .sitemap,
     .social-links.d-flex.justify-content-end.gap-4.text-center {
         justify-content: center !important
     }
     #header {
         padding: 20px
     }
 }

 @media (max-width:576px) {
     .announcement .image img {
         object-fit: contain;
     }
     .rounded-top-left {
         margin-bottom: 30px !important;
     }
     .col-12.col-lg-9.mb-5.pb-4.d-flex.justify-content-between.gap-3.flex-wrap.align-items-center {
         margin-bottom: 10px !important;
     }
     .menu-mobile .text-white.nav-link.montserrat-regular.font-18 {
         font-size: 0.938rem;
     }
     .modal-dialog.modal-dialog-centered {
         width: 95% !important;
         margin: 0 auto;
     }
     .menu-mobile-down {
         display: block;
     }
     .social-links .carrossel {
         width: 100%;
         height: auto;
         line-height: 14px;
         text-align: center;
         font-size: 0.75rem;
         z-index: -1;
     }
     .menu-icon {
         width: 25px !important;
         height: 25px !important;
     }
     .menu-icon span {
         height: 2.5px !important;
     }
     .bi.bi-box-arrow-right.font-18 {
         font-size: 0.875rem;
     }
     .image-profile {
         width: 35px;
         height: 35px;
     }
     .login h2,
     .login h3 {
         font-size: 0.75rem;
     }
     .swiper-button-next:after,
     .swiper-button-prev:after {
         font-size: 18px;
         font-weight: 800;
     }
 }

 @media (max-width:476px) {
     .d-flex.flex-column.col-10.comment {
         width: 80%;
     }
     .text-color.mb-0.montserrat-regular.font-12 {
         font-size: 0.625rem;
     }
     .footer .container {
         padding-bottom: 35px !important;
         padding-top: 35px !important;
     }
     .sitemap .logo img {
         width: 95px;
     }
     br {
         display: none;
     }
     .login .loginOn {
         font-size: 0.563rem;
     }
     .social-links.d-flex.justify-content-between.align-items-center.gap-4.text-center.col-9 {
         padding-right: 15px;
     }
     .d-flex.justify-content-start.align-items-center.gap-2.text-decoration-none.lh-0,
     .nav-link.waves-effect.waves-light {
         width: inherit;
         height: inherit;
     }
     #menu-toggle {
         display: none;
     }
     .d-flex.justify-content-between.align-items-center.mt-5 {
         margin-top: 0 !important;
         margin-bottom: 35px;
     }
     .d-flex.justify-content-between.align-items-center.mt-5 p {
         text-align: center !important;
     }
     .d-flex.justify-content-end.flex-column.w-auto.montserrat-semiBold span a {
         align-items: flex-start;
         margin: 0 auto;
         text-align: left;
         font-size: 0.75rem;
     }
     .d-flex.justify-content-end.flex-column.w-auto.montserrat-semiBold span a svg {
         width: 30px;
     }
     .d-flex.justify-content-end.flex-column.w-auto.montserrat-semiBold {
         text-align: center;
         align-items: center;
     }
     .footer ul {
         text-align: center !important;
     }
     .site-navigation.position-relative.text-end.w-25.redes-sociais,
     .p-0.d-flex.justify-content-start.gap-5.flex-row.mb-0 {
         width: 100% !important;
         justify-content: center !important;
         gap: 35px !important;
     }
     .dark-background.rounded-3.px-5.py-4 {
         padding: 20px 11px !important;
     }
     .dark-background.rounded-3.px-5.py-4 {
         width: 95%;
     }
     .sc {
         width: 100%;
     }
     .sitemap {
         margin-bottom: 35px !important;
     }
     .credits img {
         width: 85px;
     }
     .socials-network {
         height: 200px;
         padding-top: 0 !important;
         gap: 0px;
     }
     aside .img-fluid.annun {
         width: 100% !important;
     }
     #commentForm button,
     .montserrat-semiBold.font-16.d-flex.justify-content-between.align-items-center.gap-2.background-red.py-2.px-3.text-white.rounded-3,
     .bg-webmail {
         padding: 5px 10px;
     }
     .bg-webmail {
         width: 100px;
         height: auto;
     }
     .bg-white.border.border-top-0.p-4 {
         padding: 10px !important;
     }
     .announcement .image {
         max-width: inherit;
         height: 110px;
         max-height: inherit;
     }
     .container-fluid {
         padding: 0 !important;
     }
     .montserrat-bold.font-28.mt-5.title-blue {
         margin-top: 25px !important;
     }
     .section-title.rounded-top-left.rounded-3.d-flex.justify-content-between.align-items-center.h-100 svg {
         width: 20px;
     }
     .btn.px-4.background-red.rounded-3.text-white.montserrat-medium.font-15,
     .btn.bg-secondary.rounded-3.text-white.montserrat-medium.font-15,
     .btn.px-5.background-red.rounded-3.text-white.montserrat-medium.font-15 {
         padding: 5px 15px;
         font-size: 0.75rem;
     }
     .m-0.text-uppercase.montserrat-bold.font-22.title-blue,
     .mb-3.title-blue.montserrat-bold.font-32.text-uppercase,
     .montserrat-bold.font-30.mb-2.title-blue,
     .montserrat-bold.font-28.mt-5.title-blue,
     .montserrat-bold.font-30.mb-0.title-blue,
     .modal-title.text-uppercase.montserrat-bold.font-22.text-white {
         font-size: 1.125rem;
     }
     .badge.badge-primary.montserrat-semiBold.font-12.me-2.background-red.text-uppercase.font-weight-semi-bold.p-2,
     .badge.background-red.montserrat-semiBold.font-12.text-uppercase.py-2.px-2.me-2 {
         font-size: 0.625rem;
     }
     .h6.m-0.text-uppercase.montserrat-bold.font-14.title-blue,
     .btn.btn-sm.btn-outline-secondary.montserrat-semiBold.font-14.m-1,
     .mb-1.montserrat-bold.font-15.title-blue.text-uppercase,
     .text-muted.text-color.montserrat-regular.font-16.title-blu,
     .montserrat-regular.font-15.text-white.text-center {
         font-size: 0.75rem;
     }
     #news {
         padding-top: 0px !important;
     }
     .h2.m-0.text-white.text-uppercase.montserrat-bold.font-32.d-block,
     .m-0.text-uppercase.montserrat-bold.font-25.title-blue {
         font-size: 1.125rem;
     }
     .h6.m-0.text-white.text-uppercase.montserrat-bold.font-16.d-block,
     .h4.d-block.mb-3.text-uppercase.montserrat-semiBold.font-20.title-blue,
     .m-0.text-color.montserrat-regular.font-16,
     .text-color.montserrat-regular.font-16.text-start,
     .text-blog-inner.montserrat-regular.font-16 p,
     .montserrat-semiBold.font-16.d-flex.justify-content-between.align-items-center.gap-2.background-red.py-2.px-3.text-white.rounded-3,
     #commentForm button,
     #contactForm button {
         font-size: 0.938rem;
     }
     .montserrat-regular.text-color.font-12 {
         text-align: left;
     }
     #footer-text {
         font-size: 0.75rem;
     }
     #newsletterForm .input-group-append,
     #contactForm button {
         margin: 0 auto;
         margin-right: 0;
         margin-top: 10px;
     }
     #contactForm button {
         padding: 5px 10px;
     }
     .contact .description {
         width: 75%;
     }
     #newsletterForm .input-group-append button {
         padding: 5px;
     }
     .form-control.form-control-lg.montserrat-regular.text-color.font-14 {
         width: 100%;
         border-radius: 5px !important;
     }
     .hero .description {
         top: 170px;
         margin-top: 0
     }
     .client-img {
         max-width: 90px
     }
     .social-links a {
         width: 30px;
         height: 30px;
         font-size: .938rem
     }
     .logo-img {
         padding: 0 !important;
         width: 150px
     }
     .social-links.d-flex.justify-content-between.align-items-center.gap-4.text-center.col-9 {
         padding-right: 5px;
     }
     .hero h1,
     .hero p {
         margin-bottom: 20px !important
     }
 }

 @media (max-width:414px) {
     .h6.m-0.text-uppercase.montserrat-bold.font-14.title-blue {
         font-size: 0.625rem;
     }
     .badge.badge-primary.montserrat-semiBold.font-10.text-uppercase.py-1.px-2.background-red {
         font-size: 0.5rem;
     }
 }